/* ========================================
   Peyda Font Family
======================================== */

@font-face {
    font-family: "Peyda";
    src: url("/fonts/Peyda-Thin[@fontbazi].ttf") format("truetype");
    font-style: normal;
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: "Peyda";
    src: url("/fonts/peyda-extralight[@fontbazi].ttf") format("truetype");
    font-style: normal;
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: "Peyda";
    src: url("/fonts/peyda-light[@fontbazi].ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Peyda";
    src: url("/fonts/Peyda-Regular[@fontbazi].ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Peyda";
    src: url("/fonts/Peyda-Medium[@fontbazi].ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Peyda";
    src: url("/fonts/Peyda-SemiBold[@fontbazi].ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Peyda";
    src: url("/fonts/Peyda-Bold[@fontbazi].ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Peyda";
    src: url("/fonts/Peyda-ExtraBold[@fontbazi].ttf") format("truetype");
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: "Peyda";
    src: url("/fonts/Peyda-Black[@fontbazi].ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}
